build/
install/
packages/
.git/
deps/vcpkg/buildtrees/
deps/vcpkg/downloads/
deps/vcpkg/packages/
deps/vcpkg/installed/
.vs/
.vscode/
.devcontainer/
.github/
CMakeUserPresets.json
nul
*.zip
*.tgz
*.deb
*.rpm
*.exe
*.dmg
*.pdb
*.ilk
