[submodule "deps/vcpkg"]
	path = deps/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "deps/sanitizers-cmake"]
	path = deps/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "deps/crow"]
	path = deps/crow
	url = https://github.com/iainchesworth/Crow.git
