<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- Import the React libraries and our compiled component -->
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Equipment Message Stats</title>
</head>
<body>
    <!-- Title banner -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Pool Controller {{controller_type}} (Firmware {{controller_firmware}})</span>
            <span class="navbar-text ml-auto">Date Time: {{controller_date}} {{controller_time}}</span>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="mt-3"></div>

        <div class="container">
            <table id="stats-table" class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be added here by JavaScript -->
                </tbody>
            </table>
        </div>
    
        <!-- Continue with other rows here as necessary... -->
    </div>

    <div class="mt-3"></div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row">
                <!-- Left side - Version -->
                <div class="col text-muted text-start">
                    Version {{aqualink_automate_version}} ({{aqualink_automate_gitinfo}})
                </div>

                <!-- Right side - Links -->
                <div class="col text-muted text-end">
                    <a href="{{aqualink_automate_github}}/LICENSE.txt">Copyright License</a> |
                    <a href="{{aqualink_automate_github}}">GitHub</a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        const wsUrl = ((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/api/equipment/stats";

        // Create a connection to the WebSocket
        const socket = new WebSocket(wsUrl);

        // Connection opened
        socket.addEventListener('open', event => console.log('WebSocket is connected.'));

        // Listen for messages
        socket.addEventListener('message', event => {
            const stats = JSON.parse(event.data);
            updateTable(stats);
        });

        // Connection closed
        socket.addEventListener('close', event => console.log('WebSocket is closed.'));

        // Connection error
        socket.addEventListener('error', event => console.error('WebSocket error: ', event));

        const updateTable = stats => {
            const table = document.getElementById('stats-table');
            while (table.rows.length > 1) {
                table.deleteRow(1);
            }

            // Add new rows
            stats.forEach(stat => {
                const row = table.insertRow(-1); // -1 means the new row will be inserted at the last position

                const cell1 = row.insertCell(0);
                const cell2 = row.insertCell(1);

                cell1.textContent = stat.id;
                cell2.textContent = stat.count;
            });
        }
    </script>

    <script src="/static/app.js"></script>
</body>
</html>
