<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version Information</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Aqualink Automate Version Information</h1>

    <div id="version-info">
        <!-- Version information will be added here by JavaScript -->
    </div>

    <script>
        const fetchVersionInfo = () => {
            fetch('/api/version')
                .then(response => response.json())
                .then(data => {
                    const versionInfoDiv = document.getElementById('version-info');

                    const softwareVersion = data.software_version;

                    let html = `
                            <h2>Software Version</h2>
                            <p>Project Name: ${softwareVersion.name}</p>
                            <p>Project Version: ${softwareVersion.version}</p>
                            <p>Project Description: ${softwareVersion.description}</p>
                            <p>Project Homepage: <a href="${softwareVersion.homepage}" target="_blank">${softwareVersion.homepage}</a></p>
                        `;

                    if (data.git_info) {
                        const gitInfo = data.git_info;
                        html += `
                                <h2>Git Information</h2>
                                <p>Commit SHA1: ${gitInfo.commit_sha1}</p>
                                <p>Commit Date: ${gitInfo.commit_date}</p>
                                <p>Uncommitted Changes: ${gitInfo.uncommitted_changes ? 'Yes' : 'No'}</p>
                            `;
                    } else {
                        html += `
                            <h2>Git Information</h2>
                            <p>Git metadata is not available.</p>
                        `;
                    }

                    versionInfoDiv.innerHTML = html;
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to fetch version information');
                });
        };

        // Fetch version information on page load
        fetchVersionInfo();
    </script>
</body>
</html>
